{% extends "photolog/base.html" %}


{% block content %}

    
    <article style="" class="about standard">
    
    <h2> Thanks </h2>
    
    <p> I'd like to list a bunch of sites that helped me plan this trip :
        <ul>
            <li><a href="http://www.maps.me" target="_blank">MapsWithMe</a>, offline maps, so perfect and useful that it feels like traveling with cheat codes. Turn it off if you want a wander
            <li><a href="http://www.russieautrement.com/" target="_blank">Russie Autrement</a>, great for understanding administrative things
            <li><a href="http://hitchwiki.org/" target="_blank">HitchWiki</a>, must-have for hitchhikers
            <li> Low-budget globe trotters : <a href="http://tourdumonde2010.free.fr/" target="_blank">http://tourdumonde2010.free.fr/</a>
            <li> Nice travel blog with tips : <a href="http://www.tourdumondiste.com" target="_blank">http://www.tourdumondiste.com/</a>
        </ul>

    <h2> This site </h2>
    
    <p> This is a website designed for keeping up with 
    family and friends while travelling in Europe and Asia, 
    telling stories along with pictures. </p>

    <h2> Misc </h2>

    <p> This is an experimental website, hosted on pythonanywhere.com. 
    If you have any request, bug report, or ideas of funky features, please do mail
    renon@disro*t.org with "o" for *. </p>

    <p> This site was made from scratch, using the following (mainly open-source) :
    <ul>
        <li> Django, python web framework
        <li> jQuery, DOM animations
        <li> AJAX, asynchronous calls with jQuery
        <li> Vivus.js, svg animation
        <li> Git, version control system
        <li> OpenStreetMap, free editable world map
        <li> OpenLayers, JS library for OSM manipulation
    </ul>

    </p>
    
    <h2> The traveller </h2>
    
    <p>
    
    I am a french student, interested in computer stuff and oddities. On this matter,
    I deeply support open source based projects. From linux distros to basic softwares,
    it should be a major concern as many people fail to see what's going on beyond their screens,
    despite massively leaking personnal data.
    
    <p> Plenty of cool free stuff here :
    <a href="https://framasoft.org/"> https://framasoft.org/ </a>
    
    <p>
    
    This is also the guarantee to have no "black box", eg. you can learn, understand and
    improve things you use every day, instead of enduring them. By the way, source code of
    this site is availabe on this repo : 
    <p> <a href="https://github.com/RenonDis/Travel21">https://github.com/RenonDis/Travel21</a>
    <p>Feel free to send me any advice to improve this code !

    </p>

    <h2> Places I've visited </h2>

    <p>
    <ul>
        {% for location in locations %}
        <li> {{location.city}}, {{location.country}}; </li>

        {% endfor %}
    </ul>

    <h2> Facts </h2>
    <p>
    <ul>
        <li>5000 kilometers hitchhiked, 140 helping hands lent, 38 drivers annoyed, 16 spontaneous hosts, 9 hostels to reach Moscow</li>
        <li>15 steps to cross Europe, 2 months travelling </li>
        <li>25 european beds tested</li>
        <li>10 wild poops taken</li>
        <li>11 blisters and 7 splinters picking Mongolian cow dung</li>
        <li>76 beers sipped up to keep spirits up</li>
        <li>400 km hitchiked in Siberia, 700 km in Mongolia</li>
        <li>4 times taking the 8-hour train Orkhon-UB</li>
        <li>1 ugly disease contracted</li>

    </ul>
    </article>
    

    
{% endblock content %}
