{% load static %}
{% load liste %}

     <div class="first-logs">
        
        {% if lastlog %}

            {% for photo in lastlog.relatedPhotos.all %}
                <div class="last-log" 
                     style="background-image:url('/media/{{photo.lowResFile}}'); "
                     onclick="window.location='{% url 'fillslide' 2 lastlog.id tag %}';">
                     
                    <div class="log-veil">
                    
                        <div class="log-misc">
                        
                            <div class="logmeta">
                                <h1> {{lastlog.title}}  </h1>
                                <h2> {{lastlog.creationDate}} </h2>
                                <h3> {{lastlog.relatedCountries.all|listindex:0}} </h3>
                            </div>
                            
                        </div>
                    
                    </div>
                </div>
                {% endfor %}
                
                
                {% for log in recentlogs %}
                
                    {% for photo in log.relatedPhotos.all %}
                    <div class="recent-log" 
                         style="background-image:url('/media/{{photo.lowResFile}}'); "
                         onclick="window.location='{% url 'fillslide' 2 log.id tag %}';">
                         
                        <div class="log-veil">
                    
                            <div class="log-misc">
                            
                                <div class="logmeta">
                                    <h1> {{log.title}}  </h1>
                                    <h2> {{log.creationDate}} </h2>
                                    <h3> {{log.relatedCountries.all|listindex:0}} </h3>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div> 
                    {% endfor %}    
                
                {% endfor %}
                 
            
        </div>
        
        {% for log in otherlogs %}
        
            {% for photo in log.relatedPhotos.all %}
            <div class="other-log" 
                 style="background-image:url('/media/{{photo.lowResFile}}'); "
                 onclick="window.location='{% url 'fillslide' 2 log.id tag %}';">
                 
                <div class="log-veil">
                
                    <div class="log-misc">
                    
                        <div class="logmeta">
                            <h1> {{log.title}}  </h1>
                            <h2> {{log.creationDate}} </h2>
                            <h3> {{log.relatedCountries.all|listindex:0}} </h3>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            {% endfor %}    
        
        {% endfor %}

    {% else %}

        No logs to display.

    {% endif %}