{% load static %}
{% load liste %}

        <script>
        {% if photo.is_dark %}
            setBrightMask();
        {% else %}
            setDarkMask();
        {% endif %} 

        var idList = {{idList}}
        var idSide = {{idSide}}
        var currId = {{currentArticle.id}}

        </script>

        <div class="metaid" style="display:none;">
        {{currentArticle.id}}
        </div>
        
        {% csrf_token %}
        
        <div class="slideshow"></div>
        
        <div class="maskcontainer">
            <svg>
                <defs>
                    <mask id="mask" x="0" y="0" width="100%" height="100%" >
                        <!-- alpha rectangle -->
                        <rect class="alpha" x="0" y="0" width="100%" height="100%"/>
                        <!-- All text that you want -->
                        <text id="title" x="10%" y="0" dy="2em">{{currentArticle.title}}</text>
                        <text id="subtitle" x="10%" y="0" dy="6.5em">{{currentArticle.creationDate}}</text>
                        <text x="10%" y="0" dy="14.5em">{{currentArticle.relatedCountries.all|listindex:0}}</text>
                    </mask>
                    
                </defs>
                <!-- Apply color here! -->
                <rect class="base" x="0" y="0" width="100%" height="100%"/>
            </svg>
        </div>
            
            <div class="slidecontent">
    {% autoescape off %}

    {{currentArticle.textContent}} 
    {% endautoescape %}
    <br>
    
    <br>
    ({{currentArticle.title}}, {{currentArticle.creationDate}})
    </div>