{% extends "photolog/base.html" %}


{% block content %}


    <center>

    {% if intro %}
    <div class="introtitle" style="display:hidden">
    {% include 'photolog/titlesvg2.html' %}
    </div>
    {% endif %}

    </center>


    <article id="articlemain" style="overflow:hidden" class="index">

    <p>
        I'm traveling right now !! You can check my progress on the map. For more pictures, better quality, and well organised, visit <a href="https://www.flickr.com/photos/146689365@N08/albums" target="_blank"/> my flickr albums</a>.
    <p>
        Current location : Munich, Germany.
    <br><br>

    <h1> Prologue </h1>

    <p>

        Eastern Europe and Russia are well known for their high media exposure, providing in-depth reports and unbiased coverage.
    <p>
        Wait, this is not exactly the mood in our western countries. It seems like the fear of
        <a href="https://daringtodisturbtheuniverse.wordpress.com/2012/12/04/our-fear-of-otherness" target="_blank"/>
        "otherness"
        </a> has become somewhat trendy. When it comes to these countries, people start acting like they are no-law zones, inhabited by some
        dull fellows speaking some cryptic language.
    <p>
        My travel is an opportunity to go and see by myself.
        By foot, I'll thumb a ride (or take the bus) from France to Russia, eventually keeping up with the Trans-Siberian Railway.
        At best, I'll find a shelter with a local, or cheap hostels.
        I'll be traveling alone, then I'll have no other choice but meet people, find out whoever they are and whatever they do.

    <p>
        I'll spend approximately two months through Europe, one in Russia, one in Mongolia, and the last in China and
        South Asia. There are no accurate dates, as I'll have very few bookings pressuring me.

        Hopefully, I'll be able to update this site,
        add pictures and stuff. 

    <p>
        TRAVEL21 is a nod to Tintin, "reporter du Petit Vingtième", globetrotter that carried his load of clichés, as he would - sometimes -
        break them and learn something.
    <p>

     <br>

     <center>
     <a class="button" href="{% url 'fillslide' 3 1 %}"> Travel </a>
     </center>

    </article>

    <!--
    {% if listArticle %}

        <table width=90%>
            <tr>
                <th> Title </th>
                <th> Date </th>
                <th> Content </th>
            </tr>
            {% for article in listArticle %}
                <tr>
                    <td> {{article.title}} </td>
                    <td> {{article.creationDate}} </td>
                    <td> {{article.textContent}} </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}

        No articles to be displayed

    {% endif %}
    -->


{% endblock content %}